body{
    background-color: #131722;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table {
    width: 100%;
}
td{
    border: 1px solid #2a2e39;
    padding: 15px;
    text-align: left;
}

th{
    border: 1px solid #2a2e39;
    background: #1c2030;
    padding: 15px;
    text-align: left;
}

select{
    width: 100%;
    background-color: #2a2e39;
    color: white;
}

button{
    background-color: #2a2e39;
    color: white;    
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 1% 0;
    box-sizing: border-box;
    border: 1px solid #2a2e39;
    background: #2a2e39;
    color: white;
}
input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 1% 0;
    box-sizing: border-box;
    border: 1px solid #2a2e39;
    background: #2a2e39;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
}
  
.grid-container > div {
    text-align: left;
    padding: 20px;
    grid-template-rows: 5% 95% 5% 95% 5%;
}
#cards{
    padding: 20px; 
    border: 1px solid #2a2e39;
}
#cards-title{
    width: auto;
    height: auto;
    font-size: 14px;
    background-color: #1c2030;
    padding: 20px; 
    border: 1px solid #2a2e39;
}

a:link,a:visited{
    
    border-radius: 75px;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}
table.news_table a:visited{
    text-decoration: underline;
    color:  red;
    font-size: 15px;
}
a:hover, a:active{
    text-decoration: underline;
    color: #2a2e39;
    font-size: 25px;
}